<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>131778730638-j5v2g8bac7lv75ru0ihi5190bvqeq2cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131778730638-j5v2g8bac7lv75ru0ihi5190bvqeq2cr</string>
	<key>API_KEY</key>
	<string>AIzaSyAU6JQSSe8Ql-o110ikiaT1jCAp0mRzAWg</string>
	<key>GCM_SENDER_ID</key>
	<string>131778730638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TheGargs.FirePage</string>
	<key>PROJECT_ID</key>
	<string>firepage-2edb3</string>
	<key>STORAGE_BUCKET</key>
	<string>firepage-2edb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131778730638:ios:b001f617f0636ecb</string>
	<key>DATABASE_URL</key>
	<string>https://firepage-2edb3.firebaseio.com</string>
</dict>
</plist>